src/main/mule/sub flow .xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="sub_flow_Flow" doc:id="7656d7a7-5e2a-4652-a6a2-ce27b323bc56" >
		<http:listener doc:name="Listener" doc:id="99298c19-3896-47cb-b4b9-380beb9eb169" config-ref="HTTP_Listener_config" path="new"/>
		<parse-template doc:name="Parse Template" doc:id="57cf10d7-7a56-476b-b9a3-abe0df239ab5" location="C:\Users\azmuu\Desktop\Parse\k1.txt"/>
		<logger level="INFO" doc:name="Logger" doc:id="bc4d5805-12b1-4ee3-b1b7-ce5c6f24db49" message="#[payload]"/>
	</flow>
</mule>
